.backGround{
    align-items: center;
    background-image: url(percentage-discount-3d-icon-business-sign-3d-rendering_63135-4078.webp);
    background-size: auto;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}
label{
    font-size: 50px;
}
input{
    font-size: 30px;
    border-radius: 30px;
    text-align: center;
}
button{
    font-size: 40px;
    border-radius: 30px;
    margin-top: 20px;
    color: rgb(163, 92, 0);
    cursor: pointer;
}